#headerBar{
  width: 80%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  border: thick double #477F57;
}
#bodyBlock{
  width: 70%;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  border: thick double #477F57;
  word-wrap: initial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: underline;
  color: #477F57;
}
